.container {
    max-width: 80rem;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(288, 100%, 95%);
    height: 100%;
    width: 100%;
    gap: 2rem;

    &-image {
        background-image: url(../images/ofv_flower.jpg);
        background-color: white;
        height: 100%;
        background-size: cover;
        background-position: center;
        width: 33%;
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        width: 66%;
    }
}