.container {
    justify-content: flex-start;
    padding-top: 9rem;
}

.contact-title {
    color:whitesmoke;
    justify-content: flex-start;
    font-weight: 700;
    width: auto;
    display: flex;
    flex-direction: column;

    &--main {
        font-size: 4rem;
        letter-spacing: .4rem;
    }

    &--sub {
        font-size: 3rem;
        font-weight: 600;
        align-self: flex-end;
        letter-spacing: .3rem;
        margin-top: .6rem;
        text-decoration: underline;
        text-underline-offset: .8rem;
    }
}

.contact-section {
    display: flex;
    color: hsl(288deg, 100%, 95%);
    width: 100%;
    margin-top: 3rem;
    justify-content: space-around;

    &--info {
        line-height: 3rem;
        h2 {
            font-size: 3rem;
            line-height: 4rem;
        }
        p {
            font-size: 2rem;

            p:first-child {
                margin-top: 4rem;
            }
        }
    }

    &--form {
        width: 40%;

        form {
            display: flex;
            flex-direction: column;
        }
        input[type=text], select, textarea {
            width: 100%;
            padding: 1.2rem 2rem;
            margin: .8rem 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: inherit;
          }
        
        textarea {
            height: 10rem;
            font-size: 1.4rem;
        }

        button {
            padding: .8rem 1.6rem;
            cursor: pointer;
            background-color: whitesmoke;
            border: none;
            border-radius: .8rem;
        }
    }

}

.contact-map {
        width: 80rem;
        margin: 4rem auto;
        border: 0;
}