.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(288, 100%, 6%);
    color: hsl(288, 100%, 95%);
    height: 100vh;
    
    &-title {
        text-transform: uppercase;
        font-size: 5rem;
        letter-spacing: .6rem;
    }
}