.navBar {
    background-color: hsl(288, 100%, 6%);    
    position: fixed;
    top: 0;
    width: 100vw;

    & a, & a:visited{
        color: hsl(288, 100%, 95%);
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    
    .nav-container {
        display: flex;
        margin: 0 auto;
        padding: 1rem 4rem;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:550px) {
            padding: 1rem 1rem;
        }
    }
    ul {
        display: flex;
        gap: 2.2rem;
        padding: 0;
        margin: 0;
        list-style: none;
        color: hsl(288, 100%, 95%);
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;

        @media screen and (max-width:550px) {
            font-size: 1.3rem;
            gap: 1.6rem
        }

        @media screen and (max-width:450px) {
            font-size: 1.2rem;
            gap: 1.2rem
        }

        .home-logo {
            width: 500px;
        }
    }
    

   
}