.container {
    flex-direction: column;
}

.ourWines {
   margin-bottom: 1.6rem;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    
}

.wine-list {
    display: flex;
    gap:16px;
    flex-wrap: wrap;
}

.wine-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    color:white;
    gap:10px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;
    p {
        color: white;
    }
}